/* Header styles */
@use 'variable' as *;
@use 'mixin' as *;
@use 'font' as *;

header{
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px 0;
    background: #030508 url('../../public/assets/images/header_gradient_bg.svg') no-repeat center top -20px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    @include respond-to(large) {
        background-size: 360px;
        background-position: center top;
        padding: 20px 15px;
    }
    .hamburger {
        display: none;
        width: 24px;
        height: 20px;
        position: relative;
        margin: 3px 0 0;
        @include transform(rotate(0deg));
        @include transition(all, 0.5s, ease-in-out);
        cursor: pointer;
        z-index: 2;
        @include respond-to(large) {
            display: block;
        }
        span{
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $color-primary;
          border-radius: 3px;
          opacity: 1;
          left: 0;
          @include transform(rotate(0deg));
          @include transition(all, 0.25s, ease-in-out);
        }
      }
      .hamburger span:nth-child(1) {
        top: 0px;
      }
      
      .hamburger span:nth-child(2) {
        top: 8px;
      }
      
      .hamburger span:nth-child(3) {
        top: 16px;
      }
      
      .hamburger.open span:nth-child(1) {
        top: 8px;
        @include transform(rotate(135deg));
      }
      
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        left: -40px;
    }
    
    .hamburger.open span:nth-child(3) {
        top: 8px;
        @include transform(rotate(-135deg));
    }

    .header-container{
        max-width: 960px;
        margin: 0 auto;
        padding: 24px 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;        
        @include rounded(80px);
        border: 1px solid $color-primary;
        box-shadow: 0px 4px 6px -1px #12121714;
        background: rgba(15,15,16, 0.1);
        backdrop-filter: blur(80px);
        @include respond-to(large) {
            border: 0;
            background: none;
            border: none;
            box-shadow: none;
            backdrop-filter: none;
            padding: 0;
            border-radius: 0;
            max-width: 100%;
        }
    }
    // .shape01{
    //     background: $color-primary;
    //     filter: blur(140px);
    //     width: 480px;
    //     height: 235px;
    //     position: absolute;
    //     bottom: 103px;
    //     left: -10px;
    //     transform: rotate(150deg);
    //     border-radius: 130px;
    // }
    // .shape02{
    //     background: $color-primary;
    //     filter: blur(140px);
    //     width: 815px;
    //     height: 360px;
    //     position: absolute;
    //     border-radius: 50%;
    //     margin: 0 auto;
    //     bottom: 0;
    //     right: 0;
    //     left: 0;
    // }
    .logo{
        display: flex;
        position: relative;
        z-index: 2;
        img{
            width: 100%;
        }
    }
}

.nav-wrap{
    display: flex;
    @include respond-to(large) {
        display: none;
        z-index: 1;
    }
    &.open{
        @include respond-to(large) {
            padding-top: 64px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            // background: $color-primary;
            // background: #18333e;
            background: #285e85;
            background: -webkit-linear-gradient(180deg, rgba(40, 94, 133, 1) 2%, rgba(60, 64, 117, 1) 20%, rgba(0, 0, 0, 1) 100%);
            background: -moz-linear-gradient(180deg, rgba(40, 94, 133, 1) 2%, rgba(60, 64, 117, 1) 20%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(180deg, rgba(40, 94, 133, 1) 2%, rgba(60, 64, 117, 1) 20%, rgba(0, 0, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#285E85", endColorstr="#000000", GradientType=0);
            height: 100vh;
            width: 100%;
        }
    }
    .nav-menu{
        list-style: none;
        display: flex;
        flex-direction: row;
        @include respond-to(large) {
            flex-direction: column;
        }
        li{
            display: flex;
            margin-right: 30px;
            @include respond-to(large) {
                margin: 0;
            }
            &:last-of-type{
                margin-right: 0;
            }
            .nav-link{
                display: flex;
                color: $color-white;
                font-size: 16px;
                font-family: $font-medium;
                text-decoration: none;
                position: relative;
                @include transition(all, 0.4s, ease-in-out);
                &.active,
                &:hover{
                    color: $color-primary;
                }
                @include respond-to(large) {
                    padding: 15px 20px;
                    display: block;
                    width: 100%;
                }
            }
            .submenu{
                padding-right: 20px;
                &:after{
                    content:'';
                    background: transparent url('../../public/assets/images/dd_icon.svg') no-repeat center center;
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    right: 0;
                    top: 6px;
                    background-size: 100%;
                    @include respond-to(large) {
                        width: 16px;
                        height: 16px;
                        right: 20px;
                        top: 24px;
                    }
                }
            }
        }
    }
}